{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Projets</h1>

        <table class="table">
                <tbody>
                <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                 
                                  
                {% for repertoire in repertoires  %}
                         
                </tr> 
                <tr>                 
                                <td>{{ repertoire.id }}</td>
                                <td>{{ repertoire.nom }}</td>
                               
                                
                </tr>
                         
                               
                        
                        {% endfor %}

                </tbody>
        </table>

        

        

       
{% endblock %}
