{% extends 'base.html.twig' %}

{% block title %}Repertoire{% endblock %}

{% block body %}
    <h1>Repertoires</h1>

        <table class="table">
                <tbody>
                <tr>
                                
                                <th>id</th>
                                  <th>nom</th>
                                   
                                  
                                     
                        
                {% for repertoire in repertoires  %}
                         
                </tr> 
                <tr>                 
                                
                                <td>{{ repertoire.id }}</td>
                                <td>{{ repertoire.nom }}</td>
                                {#<td>{{ equipe.gerant.nom }}</td>  #}
                                
                                
                </tr>
                         
                               
                        
                        {% endfor %}

                </tbody>
        </table>

        

        

       
{% endblock %}
